body {
    overflow-x: hidden;
}

.pharma-container {
    font-family: 'Playfair Display';
}

.message-text {
  font-size: 3.4em;
  font-weight: 600;
  color: #7B9B69;
}

.slogan-text {
  font-size: 2em;
  font-weight: 500;
  color: #7B9B69;
}

#getHelpButton {
    color: #FFF;
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: #7B9B69;
    border-radius: 20px;
    padding: .4em 1.4em;
    text-transform: none;
}

div .image-container {
    background-color: #7B9B69;
    margin-top: 2em;
    height: 50em;
    width: 100em;
    border-radius: 50px 0px 0px 50px;
}
