.navbar {
  background: linear-gradient(to right, #514c42, #948542);
  position: fixed;
  width: 100%;
  padding: 8px 0;
}
  
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.left-nav {
  display: flex;
  align-items: center;
}
  
.right-nav {
  display: flex; 
  align-items: center;
}